---
import { Home } from "../components/Home";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Corvid Design</title>
  </head>
  <body>
    <Home />
  </body>
</html>

<style>
  * {
    font-family: "Proxima Nova", sans-serif;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Proxima Nova Alt Regular-webfont.eot");
    src:
      url("/fonts/Proxima Nova Alt Regular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/Proxima Nova Alt Regular-webfont.woff2") format("woff2"),
      url("/fonts/Proxima Nova Alt Regular-webfont.woff") format("woff"),
      url("/fonts/Proxima Nova Alt Regular-webfont.ttf") format("truetype"),
      url("/fonts/Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Proxima Nova";
    font-weight: bold;
    src: url("/fonts/Proxima Nova Alt Bold-webfont.eot");
    src:
      url("/fonts/Proxima Nova Alt Bold-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/Proxima Nova Alt Bold-webfont.woff2") format("woff2"),
      url("/fonts/Proxima Nova Alt Bold-webfont.woff") format("woff"),
      url("/fonts/Proxima Nova Alt Bold-webfont.ttf") format("truetype"),
      url("/fonts/Proxima Nova Alt Bold-webfont.svg#proxima_nova_altregular")
        format("svg");
    font-weight: bold;
    font-style: normal;
  }
</style>
